<div class='container custom-container'>
    <div class='col-md-12'>
      <h3 class='mb-3 text-center'>Create Employee</h3>
      <div class='form-group'>
        <input type='text' [(ngModel)]='patientName' class='form-control' placeholder='Name'>
      </div>
        <div class='form-group'>
        <input type='text' [(ngModel)]='ailmentName' class='form-control' placeholder='Ailment'>
      </div>
        <div class='form-group'>
          <input type='text' [(ngModel)]='medicationName' class='form-control' placeholder='Medication name'>
      </div>
      <div class='form-group'>
        <input type='text' [(ngModel)]='medicationDoses' class='form-control' placeholder='Medication doses'>
    </div>
      <div class='form-group'>
        <button class='btn btn-success btn-lg btn-block' (click)='addPatient()'>Create Patient</button>
        <button class='btn btn-success btn-lg btn-block' routerLink="/patient-list">Go to Patient List</button>
      </div>
    </div>
  </div>